<%inherit file="base_ui.html"/>

<%block name="scripts">
<script>
var initDiskData = [
    { label: "Used ${used/1024/1024} MiB",  data: 1},
    { label: "Free ${free/1024/1024} MiB",  data: 1}
];

function updateTop(){
  $("#top").load("/top/");
}

chartDiskOptions = {
  series: {
    pie: {
      innerRadius: 0.5,
      show: true
    }
  }
};

function updateDisk(){
    $.ajax({
      url: "/disk/",
      dataType: "json",
      success :
	function(data) {
	    console.log(data);
	    $.plot("#chartDisk",data, chartDiskOptions);
	}
      });
}
    
  $(function() {

    
    //$( "#dialog" ).dialog();
    $( "#accordion" ).accordion();
    $.plot('#chartDisk', initDiskData, chartDiskOptions);
    setIconButton("#btnTop","ui-icon-refresh");
    setIconButton("#btnTopPlay","ui-icon-play");
    setIconButton("#btnDiskPlay","ui-icon-play");

    $("#btnTop").click(function(){updateTop()});
    $("#btnTopPlay").toggleButton({fn:updateTop});
    $("#btnDiskPlay").toggleButton({fn:updateDisk,delay:2500});
    
  });
</script>
</%block>

<%block name="header">
    Welcome to: ${title}
</%block>
<!--
<div id="dialog" title="Welcome to Le Server">
  <p>Hafe fun!</p>
</div>-->

<div id="accordion" class="centered page-width">
  <h3>Disk Usage</h3>
  <div>
   <div id="btnDiskPlay" class="mini-button-right" title="Auto refresh disk usage"></div>
   <div id="chartDisk" class="centered chart-size"></div>
  </div>
  <h3>CPU Usage</h3>
  <div>
  <p>Todo.</p>
  <div id="chartCpu" class="centered chart-size"></div>
  </div>
  <h3>#top</h3>
  <div>
  <div id="btnTop"     class="mini-button-right" title="Refresh top"></div>
  <div id="btnTopPlay" class="mini-button-right" title="Auto refresh top"></div>
  <pre id="top">
  ${top}
  </pre>
  </div>
</div>

